/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Thiết lập font và màu chung */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Header */
.navmenu{
    background-color: #53d2dc;

}
/* Về chúng tôi*/
.aboutus{
    background-color: #3196e2;
    font-style: white;
}
.aboutush1{
    font-style: white;
    text-align: center;

}
.decriptionaboutus{
    font-style: white;
    margin: auto;
    width: 60%; 

    
}

/* Sản phẩm */

/* Giỏ hàng */

/* Footer */
footer{
    background-color: #53d2dc;
    color: #fff;
    justify-content: left;
    padding: 10px 0;
}
i{
    font-size: 24px;
}
